---
import kjlLogo from '../assets/kjl-logo.svg';
import Separator from './Separator.astro';

interface Props {
	className?: string;
}

const { className } = Astro.props;
const additionalClasses = className || '';
---

<div class='w-full block'>
	<div class={`${additionalClasses}`}>
		<a
			href='/'
			class='flex items-center space-x-2'
		>
			<div class='pr-1'>
				<img
					src={kjlLogo.src}
					alt='KJL Logo'
					class='h-14 w-auto'
				/>
			</div>
			<div class='flex flex-col heading'>
				<span class='font-bold'>KJL</span>
				<span>Digital Delivery Consultancy</span>
			</div>
		</a>
	</div>
	<Separator />
</div>
