---
import SayHello from './SayHello';
---
<nav class="flex justify-between items-center p-2 text-sm font-semibold heading">
    <div class="flex space-x-6">
        <a href="/" class="hover:underline">Home</a>
        <a href="/#what-do-we-do" class="hover:underline">What do we do?</a>
        <a href="/#our-services" class="hover:underline">Our services</a>
    </div>
    <div>
        <SayHello client:load asLink={true} />
    </div>
</nav>