---
import ServiceCard from './ServiceCard.astro';
import solutionArchitecture from '../assets/solution-architecture.jpg';
import handsOnDev from '../assets/hands-on-dev.jpg';
import devOps from '../assets/devops.jpg';
---

<div
	id='our-services'
	class='w-full px-4 bg-[#f1f1f1]'
>
	<h3 class='text-center mb-8 pt-8 text-3xl'>Our Services</h3>
	<div class='flex flex-col md:flex-row justify-between'>
		<ServiceCard
			imageSrc={solutionArchitecture.src}
			alt='Solution Architecture'
			title='Solution Architecture'
		>
			<p class='mb-4'>
				Providing architectural designs for a new solution or updating an
				existing one, working with your teams and technologies.
			</p>
			<p class='mb-4'>
				Our experience ranges from on-prem migration into a cloud-native
				platform, or taking ideas and building a platform that matches your
				needs.
			</p>
		</ServiceCard>
		<ServiceCard
			imageSrc={handsOnDev.src}
			alt='Hands-on Development'
			title='Hands-on Development'
		>
			<p class='mb-4'>
				We can bolster existing teams by providing development capacity based on
				your needs.
			</p>
			<p class='mb-4'>
				Supplemental capacity can be as much or as little your team needs to
				achieve your goals, allowing you to flex resources up and down to match
				time and budgets.
			</p>
			<p class='mb-4'>
				We can work in a variety of ways from hands-on development, to pure
				consultation to mentor and advise.
			</p>
		</ServiceCard>
		<ServiceCard
			imageSrc={devOps.src}
			alt='DevOps Baseline'
			title='Devops Baseline'
		>
			<p class='mb-4'>
				We can help your team get a DevOps Baseline for your business.
			</p>
			<p class='mb-4'>
				Helping you get source control branching strategies, continuous
				integration through build validation and automated testing to continuous
				deployment. Making these cornerstones of your day-to-day process.
			</p>
			<p class='mb-4'>
				We can help you become proactive with your system monitoring, ensuring
				that you know about issues before your customers do.
			</p>
		</ServiceCard>
	</div>
</div>
