---
import { Image } from 'astro:assets';
import { type LinkProp } from '../../types/component-types';

interface Props {
	link: LinkProp;
}

const { link } = Astro.props;
---

<a
	href={link.url}
	target='_blank'
	class='block bg-gradient-to-r from-blue-400 to-purple-500 p-1 rounded-lg shadow hover:shadow-lg transition-all duration-200'
>
	<div class='flex items-center space-x-3 bg-white rounded-lg p-3'>
		<Image
			src={link.image}
			alt={link.name}
			class='w-8 h-8 rounded-full'
		/>
		<span class='text-lg text-gray-900 font-semibold'>
			{link.name}
		</span>
	</div>
</a>
