---
import Layout from '../../layouts/Layout.astro';
import ProjectCard from '../../components/projects/ProjectCard.astro';
import HeroBanner from '../../components/HeroBanner.astro';

import { getCollection } from 'astro:content';
import backgroundImg from '../../assets/projects-bg.jpg';
import SayHello from '../../components/SayHello';

const projects = await getCollection('projects');
const projectsSorted = projects.sort((a, b) => {
	return a.data.order - b.data.order;
});
---

<Layout title='KJL.dev - Projects: Open Source Components, Tools, and Ideas'>
	<HeroBanner
		title='Projects: Open Source Components, Tools, and Ideas'
		backgroundImgSrc={backgroundImg}
	>
		<p class='mb-4'>
			Here is a collection of open source components and tools — all crafted to
			solve real-world problems, simplify development workflows, and encourage
			clean, maintainable code.
		</p>
		<p class='mb-4'>
			The components & tools listed here is MIT licensed, and built with
			reusability in mind. Whether you're integrating them into a larger project
			or just looking for inspiration, feel free to fork, contribute, or suggest
			improvements.
		</p>
		<p>
			There's also some experimental ideas and concepts that I am working on.
			These are not production-ready, but they are here to spark discussions and
			encourage collaboration. If you have any suggestions or ideas, please feel
			free to reach out by going to the <a
				href='https://github.com/kjldev/kjldev/'
				target='_blank'
				class='text-blue-500 hover:underline font-bold'
				>GitHub Repository</a
			>
			for this site and creating a <a
				href='https://github.com/kjldev/kjldev/discussions'
				target='_blank'
				class='text-blue-500 hover:underline font-bold'
				>new discussion</a
			>, or <a
				href='https://github.com/kjldev/kjldev/issues/'
				target='_blank'
				class='text-blue-500 hover:underline font-bold'
				>issue</a
			>.
		</p>
		<p class='p-4 mb-4'>
			There are also some collaborations with other developers on other
			excellent projects!
		</p>
		<SayHello />
	</HeroBanner>
	<div
		class='w-full px-6 py-8 bg-gray-50 dark:bg-gray-800 grid grid-cols-1 sm:grid-cols-2 gap-6 items-stretch'
	>
		{
			projectsSorted.map((project, index, arr) => (
				<div
					class={
						arr.length % 2 === 1 && index === arr.length - 1 ?
							'sm:col-span-2'
						:	''
					}
				>
					<ProjectCard
						project={project.data}
						slug={project.id}
						filePath={project.filePath!}
					/>
				</div>
			))
		}
	</div>
</Layout>
