---
import whatDoWeDo from '../../assets/what-do-we-do.jpg';
---

<div
	id='what-do-we-do'
	class='w-full flex bg-gray-100 dark:bg-gray-800'
>
	<div class='w-full md:w-1/2 flex flex-col justify-center items-center p-4 text-gray-900 dark:text-gray-100'>
		<h3 class='text-3xl mb-10'>What do we do?</h3>
		<p class='mb-4'>
			At our core we provide consultancy services for digital deliveries. This
			can take the form of helping with executive and stakeholder management,
			product leadership and team building, all the way to defining platforms
			and helping to build and deploy them.
		</p>
		<p class='mb-4'>
			We are always looking for ways to improve processes, deliver value
			for-money solutions architecture and help with hands-on development.
		</p>
		<p class='mb-4'>
			We have a broad range of technical and strategic skills to help startups
			and corporates alike achieve the best solution for their businesses.
		</p>
		<p class='mb-4'>
			Our goal is to provide value at every point for our clients and their
			projects.
		</p>
	</div>
	<div class='w-1/2 h-full hidden md:block'>
		<img
			src={whatDoWeDo.src}
			class='w-full h-full object-cover object-center'
			alt='What do we do'
		/>
	</div>
</div>
